.button{
  background:  greenyellow;
  border:none;
  color: rgba(0, 0, 0, 0.00);
  border-radius: 120px;
}

.button:hover{
  background: orange;
  color: rgba(0, 0, 0, 0.00);
  border-radius: 120px;
}

GtkLabel #Title{
  background: #0087FF;
}

.button:active {
  background: #0173D9;
}

GtkWindow{
  background:white;
}

GtkProgressBar #progress{
  background: rgb(255, 0, 4);
}