.button
{
  background:  linear-gradient(to right, #56ccf2, #2f80ed);
  border:none;
  color: rgba(0, 0, 0, 0.00);
  border-radius: 120px;
  font: Georgia Bold 100px;
}

.button:hover
{
  background: linear-gradient(to right, #fe8c00, #f83600);
  color: rgba(0, 0, 0, 0.00);
  border-radius: 120px;
}

.button:active 
{
  background: #0173D9;
}

GtkWindow
{
  background :white;
  color:white;
}

